orders-sapi/target/META-INF/mule-src/orders-sapi/src/main/mule/post-orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-ordersFlow" doc:id="f4ea77db-ddba-4004-be4f-d78745d735a7" >
		<db:insert doc:name="Insert into orders table" doc:id="2de8dcad-09c1-4205-80bd-7decb2b9b1b2" config-ref="Database_Config" target="orders">
			<db:sql><![CDATA[insert into orders (orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber) 
values (:orderNumber,:orderDate,:requiredDate,:shippedDate,:status,:comments,
(select customerNumber from customers where customerNumber = :customerNumber));

]]></db:sql>
			<db:input-parameters><![CDATA[#[{
        "customerNumber": payload.customerNumber,
        "comments": payload.comments,
        "orderNumber": payload.orderNumber,
        "shippedDate": payload.shippedDate,
        "orderDate": payload.orderDate,
        "requiredDate": payload.requiredDate,
        "status": payload.status
    }]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="4b341ff2-7283-43e7-b437-5b5400db20f9" >
			<ee:message >
				<ee:set-payload resource="dataweave/post-orderdetails.dwl" />
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Insert into orderDetails table" doc:id="c49f2223-0db9-4e61-b647-86a884aa9786" config-ref="Database_Config" target="orderdetails">
			<db:sql><![CDATA[insert into orderdetails (orderNumber,productCode,quantityOrdered,priceEach,
orderLineNumber) values (:orderNumber, :productCode, :quantityOrdered, :priceEach,
:orderLineNumber);]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Order Number" doc:id="1ab33b06-de83-487e-8859-a09b3931d874" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"orderNumber": payload.orderNumber[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
