src/main/mule/groovy-script.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ec5389f-4d33-451f-8e5b-3877a16e798b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="c2f6a85e-ed3b-4460-885f-0a44f40255b8" />
	<flow name="groovy-scriptFlow" doc:id="518ab692-8d54-4e23-b426-bcac19d99a20" >
		<http:listener doc:name="Listener" doc:id="99b72635-dbb3-440f-b10e-cca6788901b3" config-ref="HTTP_Listener_config" path="groovy"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	token: "mulesoft",&#10;	date: now()&#10;}]' doc:name="Set Payload" doc:id="7bac1fce-2a8b-47d5-84c0-d5ed1dad76a4" />
		<os:store doc:name="Store" doc:id="73978357-fbe7-4cf8-8514-6db39ea7e0ae" key="karan"/>
		<ee:transform doc:name="Transform Message" doc:id="df6fe4ad-3fac-453d-a718-b22d120efcca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="groovy-scriptFlow1" doc:id="9953a4f8-779f-48e9-8bf4-50378a3b037b" >
		<http:listener doc:name="Listener" doc:id="7dc281d7-4008-42bf-b221-3ef3fa335670" config-ref="HTTP_Listener_config" path="groove" allowedMethods="POST"/>
		<set-variable value="#[attributes.headers.token]" doc:name="Set Variable" doc:id="73b6977f-23e6-4bdf-958f-b39acf9be9a5" variableName="token" />
		<os:retrieve doc:name="Retrieve" doc:id="e06d009c-e8f7-4bf6-9d05-473212a62b13" key="karan">
			<os:default-value><![CDATA[#[payload]]]></os:default-value>
		</os:retrieve>
		<validation:is-true doc:id="8ee7af3d-c3f3-4599-991f-11aa1c1d0e9a" expression="#[payload.token == vars.token]"/>
		<logger level="INFO" doc:name="Logger" doc:id="b82b1ae5-4a9f-4be4-bd7f-fe3e1279970f" />
		<choice doc:name="Choice" doc:id="e99efd2a-5707-48bf-92ee-0998716ad167" >
			<when expression="#[(now() -(payload.date as DateTime)).seconds &lt;= 120]">
				<ee:transform doc:name="Transform Message" doc:id="c14c0330-4fb7-4b92-9a87-efac591cbd81">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.token
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="dc1f0eef-eb63-4ca3-9487-adb10b2a48c6" message="no token"/>
				<ee:transform doc:name="Transform Message" doc:id="1584d05f-7743-4b84-b43b-3c84ab3a8fd9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"message": "default"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
